*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fafafa;
}

.nav{
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 100px;
padding: 10px;
background-color: white;

box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.nav p{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    color: #2c2a2a;
}

.nav-div1{

}

.nav-div2{

}

.nav-div3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: rgb(90, 58, 58); */
}

.post-view{
    width: 60%;
    background-color: #fafafa;
    
}

.post-upload{
    width: 40%;
    background-color: #fafafa;
}

.window {
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    /* position: relative; */
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    /* fixes scrolling in IE */
    padding-left: 0;
    padding-right: 0; 
}


.ie8 .window { /* assumes you are using conditional classes for IE fixes (http://www.paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/) */
  padding-top: 0;
  padding-bottom: 0; 
}


.slider-frame-wrapper{
  overflow: hidden;
  overflow-y: scroll;
}

.slider-frame {
  overflow: visible;
  white-space: nowrap; 
  height: 620px;
}

.ie8 .slider-frame { 
}
  
.slider-panel {
    max-width: 370px; /* width of each individual items */
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.parent-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    /* static settings */
    margin-left: 150px;
    margin-top: 20px;
}

.card {
    width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-head{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 3%;
    width: 100%;
    
}

.card-head img{
    align-self: flex-start;
    border-radius: 50%;
    width:40px;
    height: 40px;
}
.card-head span{
    padding: 2%;

}

.card-img{
    width: 100%;
    height: 400px;
}

.card-time{
    width: 98%;
    font-size: smaller;
    padding-top: 3px;
    text-align: right;
    margin: 0px;
    font-style: italic;
}

.card-footer{
    
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;

}
.card-likes{
    width: 100%;
    font-size: smaller;
    padding: 1%;
    padding-left: 4%;
    text-align: left;
    margin: 0px;
    font-weight: bolder;
    color: rgb(90, 58, 58);
}

.card-footer-2{
    
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    width: 100%;

}

.user-data{
    width: 70%;

}
.user-name{
    padding-bottom: 10px;
    
    font-family: 'Satisfy', cursive;
}
.user-des{
    font-weight: lighter;
    padding-left: 10%;
    font-style: italic;
}

/* POST IMAGE */
.container{
    display: flex;
}
.posts-view{
    width: 70%;
    background-color: red;
}
.posts-upload{
    width: 30%;
    /* background-color: blue; */
    padding: 20px 40px;
    
}
.posts-upload form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    margin: auto;
    min-width: 130px;
    /* max-width: 200px; */
    height: 125px;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
}
.image>input {
    display: none;
  }
  #pImg{
    cursor: pointer;
  }
/* POST TITLE */
#title{
    border: none;
    outline: none;
    margin: 30px 50px;
    padding: 8px;
    border-radius: 14px;
    border-bottom: 2px solid blue;
}